<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>User: <%= @user.name %> was created</h1>
    <ul>
        <li>Email:      <%= @user.email %></li>
        <li>Phone:      <%= @user.phone %></li>
        <li>Location:   <%= @user.location %></li>
        <li>Buyer:      <%= @user.buyer %></li>
        <li>Seller:     <%= @user.seller %></li>
    </ul>
  </body>
</html>
