<!-- Header -->
        <header id="header" class="alt">
            <% if current_user %>
               &nbsp;Welcome <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
            <% else %>
               <img style="margin:5px 0px 0px 10px; width:auto; max-height: 80%;" src="assets/ShedFinder.png" alt="" />
            <% end %>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><i class="fa fa-home"></i><%= link_to "Home",  root_path %></li>
                                <li><i class="fa fa-user"></i><%= link_to "About", about_shed_finder_path %></li>
                                <li><i class="fa fa-money"></i><%= link_to "Sellers",  sell_shed_antlers_path %></li>
                                <li><i class="fa fa-shopping-cart"></i><%= link_to "Buyers",  buy_shed_antlers_path %></li>
                                <li><i class="fa fa-cutlery"></i><%= link_to "Antler Dog Chews",  buy_antler_dog_chews_path %></li>
                                <li><i class="fa fa-pencil"></i><%= link_to "Sign Up",  shed_finder_sign_up_path %></li>
                                <li><i class="fa fa-key"></i><%= link_to "Log In",  login_path %></li>
                                <li><i class="fa fa-dot-circle-o"></i><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
