<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Buy & Sell Shed Antlers</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
      <!--[if lt IE 9]>
           <%= stylesheet_link_tag 'all' %>
      <![endif]-->
  </head>
  <body class="landing">
      <!-- Page Wrapper -->
			<div id="page-wrapper">
                <%= render 'layouts/menu' %>
                 <noscript style="text-align:center; padding:10px; position:fixed; left:0px; right:0px; z-index:999; background-color:#f00; color:#fff; font-size:24px">Please enable JavaScript to navigate</noscript>
                <%= yield %>
                <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
            </div>
  </body>
</html>
