<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | We Buy & Sell Shed Antlers</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
      <!--[if lt IE 9]>
           <%= stylesheet_link_tag 'all' %>
      <![endif]-->
  </head>
  <body class="landing">
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
